<tr class="niezaznaczona">

				


				
					<td class="info-list-label-uzasadnienie" colspan="2">

					<div class="lista-label">Sentencja</div>

					<span class="info-list-value-uzasadnienie"> <p>Naczelny Sąd Administracyjny w składzie: Przewodniczący: sędzia NSA Paweł Miładowski /spr./ Sędziowie sędzia NSA Marzenna Linska-Wawrzon sędzia del. WSA Zbigniew Ślusarczyk Protokolant starszy asystent sędziego Konrad Młynkiewicz po rozpoznaniu w dniu 26 marca 2013 r. na rozprawie w Izbie Ogólnoadministracyjnej sprawy ze skargi kasacyjnej [...] Sp. z o.o. z siedzibą w W. od wyroku Wojewódzkiego Sądu Administracyjnego w Warszawie z dnia 10 czerwca 2011 r. sygn. akt VII SA/Wa 764/11 w sprawie ze skargi [...] Sp. z o.o. z siedzibą w W. na decyzję Mazowieckiego Wojewódzkiego Inspektora Nadzoru Budowlanego z dnia [...] grudnia 2010 r. nr [...] w przedmiocie nakazu <span class="highlight">rozbiórki</span> <span class="highlight">budynku</span> oddala skargę kasacyjną </p></span></td>
				

			</tr>

		

	

		

		

			<tr class="niezaznaczona">

				


				
					<td class="info-list-label-uzasadnienie" colspan="2">

					<div class="lista-label">Uzasadnienie</div>

					<span class="info-list-value-uzasadnienie"> <p>Wyrokiem z dnia 10 czerwca 2011 r., sygn. akt VII SA/Wa 764/11 Wojewódzki Sąd Administracyjny w Warszawie oddalił skargę [...] Sp. z o.o. w W. na decyzję Mazowieckiego Wojewódzkiego Inspektora Nadzoru Budowlanego z dnia [...] grudnia 2010 r. znak: [...] w przedmiocie nakazu <span class="highlight">rozbiórki</span> <span class="highlight">budynku</span>.</p><p>Jak wynika z uzasadnienia wyroku Mazowiecki Wojewódzki Inspektor Nadzoru Budowlanego decyzją z dnia [...] grudnia 2010r., po rozpatrzeniu odwołania [...] Sp. z o.o. z siedzibą w Warszawie – utrzymał w mocy decyzję Powiatowego Inspektora Nadzory Budowlanego dla m. st. Warszawy z [...] lipca 2010 r., nakazującą ww. spółce <span class="highlight">rozbiórkę</span> <span class="highlight">budynku</span> przy ul. [...], przy granicy z posesją przy ul. [...] w Warszawie.</p><p>Organ II instancji wskazał, że w wyniku kontroli w dniu [...] sierpnia 2009r. ustalono, że na ww. nieruchomości wylano dwie ławy fundamentowe: jedną wzdłuż ogrodzenia między działkami przy ul. [...] i [...] o wys. ok. 50 cm i drugą w poprzek tejże działki. Ponowna kontrola z dnia [...] października 2009r. wykazała, że rozpoczęto budowę dachu nad <span class="highlight">budynkiem</span> gospodarczo-garażowym. Dnia [...] marca 2010 r. Stołeczny Konserwator Zabytków poinformował organ I instancji o wszczęciu postępowania m.in. w sprawie ww. robót budowlanych, prowadzonych bez pozwolenia tego organu.</p><p>[...] Sp. z o.o. [...] maja 2010 r. wniosła o przedłużenie terminu do złożenia dokumentacji wymaganej postanowieniem nr [...] do czasu uzyskania decyzji Stołecznego Konserwatora Zabytków.</p><p>Powołaną na wstępie decyzją organ powiatowy, na podstawie art. 48 ust. 1 Prawa budowlanego, nakazał rozebrać ww. obiekt budowlany.</p><p>Organ odwoławczy wskazał, że inwestor wnosił o przedłużenie terminu do wykonania obowiązku nałożonego postanowieniem z [...] września 2009 r., jednak o treści ww. postanowienia dowiedział się [...] października 2009r. podczas kontroli organu powiatowego, które zostało doręczone [...] października 2009 r.</p><p>Z materiału dowodowego wynika, że układ urbanistyczny i zespół budowlany na ww. nieruchomości wpisany jest do rejestru zabytków Nr [...]. Decyzją z dnia [...] października 2010r. Stołeczny Konserwator Zabytków nie zezwolił ww. Spółce na przebudowę <span class="highlight">budynku</span> garażowo-gospodarczego przy ul. [...].</p><p>Organ II instancji podniósł, że organ konserwatorski rozstrzygał sprawę przebudowy ww. obiektu, gdy tymczasem stan faktyczny dotyczył budowy nowego obiektu z wykorzystaniem ściany poprzednio istniejącego. Organy nadzoru nie były więc związane ww. rozstrzygnięciem, gdyż dotyczy ono innego, faktycznie rozebranego obiektu.</p><p>Organ stwierdził, że <span class="highlight">budynek</span> gospodarczo-garażowy <span class="highlight">zrealizowano</span> <span class="highlight">samowolnie</span>. Protokoły oraz załączone zdjęcia z oględzin, wskazują bowiem jednoznacznie, iż ww. <span class="highlight">budynek</span> jest nowopowstałym obiektem budowlanym z wykorzystaniem istniejącej ściany tylnej. Samowola budowlana skutkuje wydaniem nakazu <span class="highlight">rozbiórki</span>, jeśli nie ma prawnych możliwości zalegalizowania obiektu. Organ powiatowy nakładając ww. obowiązek postanowieniem z dnia [...] października 2009r., zgodnie z art. 48 ust. 2 i ust. 3 Prawa budowlanego, zmierzał do zalegalizowania ww. obiektu. Skoro inwestor nie przedłożył wymaganych dokumentów organ powiatowy, na podstawie art. 48 ust. 1 cyt. ustawy, zobowiązany był do nakazania <span class="highlight">rozbiórki</span>.</p><p>Skargę na powyższą decyzję złożyła [...] Sp. z o.o., wnosząc o jej uchylenie oraz uchylenie decyzji organu I instancji i zarzucając naruszenie: art. 48 ust. 1 Prawa budowlanego przez błędne zastosowanie, wobec przyjęcia, że skarżąca dokonała budowy <span class="highlight">budynku</span>, a nie jego remontu i przebudowy; art. 7 i art. 77 k.p.a. poprzez niewyjaśnienie okoliczności, w szczególności wskazanych w odwołaniu.</p><p>Skarżąca wskazała, że organ nie uwzględnił wniosku o przedłużenie terminu do wykonania postanowienia z 7 września 2009r. Stwierdził, że <span class="highlight">budynek</span> wybudowano <span class="highlight">samowolnie</span>. Pomimo, że organ powiatowy nakładając obowiązek przedłożenia dokumentów z art. 48 ust. 2 i 3 cyt. ustawy zmierzał do doprowadzenia <span class="highlight">budynku</span> do stanu zgodnego z prawem, to na wskutek niedostarczenia zaświadczenia o zgodności budowy z ustaleniami obowiązującego miejscowego planu zagospodarowania przestrzennego zobowiązany był do nakazania <span class="highlight">rozbiórki</span>.</p><p>W trakcie robót budowlanych "nieznany" sprawca zburzył fragment muru i fundamentu remontowanego <span class="highlight">budynku</span> garażowo-gospodarczego, co potwierdza kontrola z [...] grudnia 2009 r. Prokuratura Rejonowa W-wa Mokotów umorzyła dochodzenie w tej sprawie z powodu niewykrycia sprawcy. W wyniku powyższego częściowemu uszkodzeniu uległ dach <span class="highlight">budynku</span>, co zmusiło Spółkę do jego odbudowowy, wraz z fragmentarycznym rozebraniem uszkodzonych ścian ze względu na zły stan techniczny i zastąpienie ich nowym. Prace te były podyktowane bezpieczeństwem użytkowania zniszczonego obiektu dla zapewnienia bezpieczeństwa życia, zdrowia i mienia.</p><p>Zdaniem skarżącej, z powyższego nie można jednak wnioskować, że wybudowano od podstaw nowy <span class="highlight">budynek</span> garażowo-gospodarczy i w sprawie ma zastosowanie art. 48 ust. 1 Prawa budowlanego. Wykonywane roboty są bowiem odbudową i remontem uszkodzonych elementów, które już na nieruchomości istniały oraz efektem decyzji z 28 maja 2001r.</p><p>Skarżąca podkreśliła, że <span class="highlight">budynek</span> gospodarczy istniał w dacie zakupu nieruchomości przez spółkę tj. [...] listopada 2001 r. Ponadto, z mapy zasadniczej wg stanu na [...] lipca 2004 r. sporządzonej przy inwentaryzacji <span class="highlight">budynku</span> wynika, że na działce nr [...] co najmniej od 2000r. istniała zabudowa gospodarcza.</p><p>Decyzje wydano zatem z naruszeniem art. 7 i 77 kpa, a w konsekwencji naruszono także art. 107 § 3 kpa.</p><p>Skarżąca dodała, że zgodnie z miejscowym planem zagospodarowania przestrzennego Starego Mokotowa (uchwała Rady m. st. W-wy Nr LXX/2187/2010 (Dz. Urz. Woj. Maz. z 2010 r., Nr 38 poz. 525) dla kwartału H 10 MN dopuszcza się przebudowę istniejącej zabudowy, pod warunkiem, iż przekształcenie nie zniszczy jej historycznej formy. Przebudowa nie jest więc sprzeczna z obowiązującym planem. Organy nie były zatem zobowiązane do nakazania <span class="highlight">rozbiórki</span>.</p><p>W odpowiedzi na skargę organ wniósł o jej oddalenie i podtrzymał stanowisko przedstawione w zaskarżonej decyzji.</p><p>Wskazanym na wstępie wyrokiem Wojewódzki Sąd Administracyjny w Warszawie skargę oddalił.</p><p>W uzasadnieniu wyroku Sąd pierwszej instancji wskazał, że nie zasługiwało na aprobatę stanowisko przedstawione w skardze, że skarżąca nie dokonała budowy, lecz przebudowy i remontu istniejącego przy ul. [...] w W-wie <span class="highlight">budynku</span> gospodarczo – garażowego.</p><p>Należy mieć bowiem na uwadze, że zgodnie z definicją zawartą w art. 3 pkt. 6 Prawa budowlanego budową jest wykonywanie obiektu budowlanego w określonym miejscu, a także odbudowa, rozbudowa i nadbudowa takiego obiektu.</p><p>Przez przebudowę, stosownie do art. 3 pkt 7a Prawa budowlanego rozumie się wykonywanie robót budowlanych, w wyniku których następuje zmiana parametrów użytkowych lub technicznych istniejącego obiektu budowlanego, z wyjątkiem charakterystycznych parametrów, jak: kubatura, powierzchnia zabudowy, wysokość, długość, szerokość bądź liczba kondygnacji.</p><p>Natomiast remontem jest wykonywanie w istniejącym obiekcie budowlanym robót budowlanych polegających na odtworzeniu stanu pierwotnego, a niestanowiących bieżącej konserwacji, przy czym dopuszcza się stosowanie wyrobów budowlanych innych niż użyto w stanie pierwotnym ( art. 3 pkt. 8 ww. ustawy).</p><p>Z przytoczonych definicji legalnych przebudowy i remontu wynika zatem wprost, że ten rodzaj robót budowlanych może dotyczyć tylko i wyłącznie obiektów istniejących, a taka sytuacja – wbrew zarzutom skargi – nie miała miejsca w rozpatrywanej sprawie. Ze znajdującego się w aktach sprawy materiału dowodowego wynika bowiem jednoznacznie, że skarżąca wykonała roboty budowlane polegające na budowie obiektu budowlanego, wykorzystując jedynie fragmenty ścian istniejącego w tym miejscu <span class="highlight">budynku</span> gospodarczo garażowego.</p><p>Ustalenia organów w tym zakresie w sposób nie budzący wątpliwości potwierdza załączona dokumentacja fotograficzna oraz protokoły z przeprowadzonych kontroli. Podczas kontroli dokonanej dnia [...] sierpnia 2009r. organ powiatowy ustalił bowiem, że na tyłach ww. działki po rozebraniu w części istniejących zabudowań inwestor wylał dwie nowe ławy fundamentowe. Natomiast jak wynika z protokołu kontroli z dnia [...] października 2009r. inwestor rozpoczął budowę konstrukcji dachu nad <span class="highlight">budynkiem</span> gospodarczo garażowym, pomimo wstrzymania prowadzonych robót budowlanych postanowieniem z dnia [...] września 2009r. Proste porównanie stanu widniejącego na zdjęciach sporządzonych podczas obu ww. kontroli wskazuje, że skarżąca wykonała nowy obiekt budowlany.</p><p>Ustalenia organów potwierdza również dokumentacja zdjęciowa złożona do akt przez uczestnika postępowania K. K.</p><p>W tym miejscu wskazać trzeba, że zgodnie z ugruntowanym w orzecznictwie sądów administracyjnych stanowiskiem, jeśli roboty budowlane polegają na wykonaniu faktycznie nowego obiektu budowlanego, choć z wykorzystaniem elementów konstrukcyjnych pozostałych po innym obiekcie budowlanym, to inwestor dokonuje odbudowy, która zgodnie z definicją zawartą w art. 3 pkt 6 Prawa budowlanego zalicza się do budowy (por. wyrok NSA z dnia 8 grudnia 2008r., II OSK 1546/07, LEX nr 516082; wyrok WSA w Kielcach z dnia 10 grudnia 2009r., II SA/Ke 645/09, LEX nr 582983; wyrok WSA w W-wie z dnia 17 czerwca 2008r., VII SA/Wa 1676/07, LEX nr 499914).</p><p>W konsekwencji bez wpływu na wynik sprawy pozostawał zarzut skargi o nie wskazaniu przez organ, czy doszło do zmiany charakterystycznych parametrów istniejącego <span class="highlight">budynku</span> i ustalenia rodzaju wykonanych robót budowlanych. Podobnie bez znaczenia dla rozstrzygnięcia pozostawała wskazywana przez skarżącą okoliczność funkcjonowania w obrocie prawnym decyzji [...] maja 2001r., gdyż dotyczyła ona innego, bo wzniesionego <span class="highlight">samowolnie</span> w 1991r. <span class="highlight">budynku</span> gospodarczo garażowego.</p><p>O tym bowiem, czy wykonywanie określonego rodzaju robót jest budową, czy robotami budowlanymi innego rodzaju, nie przesądza sposób i powód ich prowadzenia, ale fakt, czy w ich wyniku zostanie faktycznie wybudowany w określonym miejscu obiekt budowlany.</p><p>W konsekwencji nie można było uznać, że inwestor w sposób istotny odstąpił od zatwierdzonej decyzją dnia [...] maja 2001r. dokumentacji, jak podnosiła skarżąca.</p><p>Zdaniem Sądu pierwszej instancji prawidłowo zatem w rozpatrywanej sprawie powiatowy organ nadzoru budowlanego postanowieniem z dnia [...] września 2009r., na podstawie art. 48 ust. 2 i 3 Prawa budowlanego, wstrzymał roboty budowlane i nałożył obowiązki zmierzające do legalizacji ww. samowoli budowlanej, w tym do przedstawienia zaświadczenia o zgodności budowy z ustaleniami obowiązującego miejscowego planu zagospodarowania przestrzennego albo ostatecznej decyzji o warunkach zabudowy i zagospodarowania przestrzennego.</p><p>Nie jest sporne w rozpatrywanej sprawie, że skarżąca ww. obowiązków nie wykonała. Wprawdzie 15 kwietnia 2010r. wniosła o przedłużenie terminu do ich wykonania, jednak wskazała na konieczność przedłożenia decyzji Stołecznego Konserwatora Zabytków, która w istocie nie dotyczyła <span class="highlight">budynku</span> gospodarczo-garażowego. Postanowienie z dnia [...] września 2009r. nie mogło zatem zawierać takiego obowiązku. Organ powiatowy nie miał więc podstaw do przedłużenia terminu zakreślonego do złożenia wymaganych dokumentów.</p><p>Brak spełnienia przez inwestora ww. obowiązków obligował organ do wydania nakazu <span class="highlight">rozbiórki</span> <span class="highlight">samowolnie</span> wzniesionego obiektu budowlanego, na podstawie art. 48 ust. 4 w związku z ust. 1 tego przepisu.</p><p>Ponadto, w świetle treści postanowienia z dnia 7 września 2009r. niezrozumiały jest wywód skargi odnoszący się do błędnego uznania przez organy, że brak przedstawienia zaświadczenia o zgodności budowy z ustaleniami miejscowego planu zagospodarowania przestrzennego wykluczał możliwości legalizacji samowoli budowlanej z powołaniem na tezę wyroku Trybunału Konstytucyjnego z dnia 20 grudnia 2007r., skoro organ zakreślił skarżącej termin do przedstawienia stosownej dokumentacji nie wskazując, że w przypadku decyzji o warunkach zabudowy ma to być decyzja ostateczna w dniu wszczęcia postępowania.</p><p>Jako chybiony Sąd ocenił również zarzut dotyczący objęcia nakazem <span class="highlight">rozbiórki</span> całego <span class="highlight">budynku</span> gospodarczo garażowego, a nie tylko tej części, którą wykonano w warunkach samowoli. Wykorzystane fragmenty ścian nie stanowią bowiem części samodzielnych i niezależnych od pozostałej części obiektu budowlanego.</p><p>Wbrew wywodom skargi, Sąd nie dopatrzył się również takiego naruszenia art. 7, 77 § 1 i 107 § 3 k.p.a., które w sposób istotny wpływałoby na wynik sprawy, a tylko takie uchybienie przepisom procedury administracyjnej obliguje Sąd do uchylenie zaskarżonej decyzji.</p><p>Skargę kasacyjną od powyższego wyroku wniosła [...] Sp. z o.o. w W. zaskarżając tenże wyrok w całości i zarzuciła:</p><p>I. naruszenie prawa materialnego polegające na bezpodstawnym i błędnym zinterpretowaniu art. 3 ust. 6 ustawy z dnia 7 lipca 1994 r. Prawo budowlane czego efektem było bezpodstawne i błędne zakwalifikowanie czynności faktycznych skarżącej na nieruchomości położonej przy ul. [...] w Warszawie polegającej na remoncie i przebudowie <span class="highlight">budynku</span> gospodarczo-garażowego jako budowy <span class="highlight">budynku</span> a nie jego remontu i przebudowy jak to miało miejsce w rzeczywistości;</p><p>II. naruszenie przepisów postępowania, mające istotny wpływ na wynik sprawy poprzez:</p><p>a) przyjęcie przez WSA, że organy nadzoru budowlanego zebrany w sprawie materiał dowodowy rozpatrzyły rzetelnie i w sposób wyczerpujący, podczas gdy dowody zostały ocenione wybiórczo, subiektywnie i w sposób dowolny;</p><p>b) dokonanie przez WSA błędnej, wykraczającej poza ramy prawa, oceny dowodów zgromadzonych w sprawie;</p><p>c) przyjęcie przez WSA, że decyzje w sprawie niniejszej zostały wydane na podstawie prawidłowo zebranego materiału dowodowego, który uzasadnia oceny i rozstrzygnięcia w sprawie, przy czym stanowisko takie doprowadziło Sąd do powielenia całkowicie błędnej oceny stanu faktycznego i wynikających z niej wniosków wywiedzionych przez organy nadzoru budowlanego a w rezultacie do wydania wadliwego orzeczenia w sprawie.</p><p>Wskazując na powyższe naruszenia skarżąca kasacyjnie spółka wniosła o uchylenie zaskarżonego wyroku i przekazanie sprawy do ponownego rozpoznania, a także o zasądzenie zwrotu kosztów postępowania kasacyjnego, z uwzględnieniem kosztów zastępstwa procesowego.</p><p>W uzasadnieniu skargi kasacyjnej doprecyzowano zarzuty skargi kasacyjnej wskazując, że zaskarżony wyrok został wydany z naruszeniem art. 134 § 1 w zw. z art. 141 § 4 i art. 145 § 1 pkt 1 lit. c ustawy z dnia 30 sierpnia 2002 r. Prawo o postępowaniu przed sądami administracyjnymi (t.j. Dz.U. z 2012 r., poz. 270 - zwanej dalej p.p.s.a.) w zw. z art. 6 ust. 1 pkt 1 lit. b, art. 25 ust. 1 pkt 3 i art. 36 ust. 1 pkt 2 ustawy z dnia 23 lipca 2003 r. o ochronie zabytków i opiece nad zabytkami poprzez niewłaściwe jego zastosowanie, co spowodowało nieuwzględnienie wszystkich okoliczności sprawy.</p><p>Odpowiedź na skargę kasacyjną złożył uczestnik postępowania K. K.</p><p>Naczelny Sąd Administracyjny zważył, co następuje:</p><p>Skarga kasacyjna nie zasługuje na uwzględnienie.</p><p>Stosownie do treści art. 183 § 1 ustawy Prawo o postępowaniu przed sądami administracyjnymi, Naczelny Sąd Administracyjny rozpoznaje sprawę w granicach skargi kasacyjnej z urzędu biorąc pod rozwagę jedynie nieważność postępowania.</p><p>Wobec tego, że w rozpoznawanej sprawie nie zachodzi żadna z okoliczności skutkujących nieważnością postępowania, o jakich mowa w art. 183 § 2 p.p.s.a., a nadto nie zachodzi również żadna z przesłanek, o których mowa w art. 189 p.p.s.a., które Naczelny Sąd Administracyjny rozważa z urzędu dokonując kontroli zaskarżonego skargą kasacyjną wyroku Sądu pierwszej instancji, Naczelny Sąd Administracyjny dokonał kontroli zaskarżonego wyroku w zakresie wyznaczonym podstawami skargi kasacyjnej.</p><p>Nie zasługiwał na uwzględnienie zarzut skargi kasacyjnej naruszenia prawa materialnego przez błędną wykładnię art. 3 ust. 6 ustawy z dnia 7 lipca 1994 r. Prawo budowlane.</p><p>Zgodnie ze wskazanym przepisem przez budowę należy rozumieć wykonywanie obiektu budowlanego w określonym miejscu, a także odbudowę, rozbudowę, nadbudowę obiektu budowlanego. W niniejszej sprawie inwestor – spółka skarżąca kasacyjnie dokonała prac budowlanych na skutek których powstał nowy <span class="highlight">budynek</span> w którym wykorzystano istniejącą jedną ścianę. Wbrew twierdzeniom strony przedmiotowe prace budowlane z całą pewnością nie stanowiły remontu, ani przebudowy, które nie wymagałyby pozwolenia na budowę.</p><p>Sąd pierwszej instancji dokonał zdaniem Naczelnego Sądu Administracyjnego orzekającego w niniejszej sprawie prawidłowej wykładni przepisu art. 3 ust. 6 ustawy Prawo budowlane przyjmując, że wykonane przez skarżącą kasacyjnie spółkę prace budowlane były budową <span class="highlight">budynku</span>, a nie jak wskazywała remontem i przebudową, nie mieszczącymi się w kategorii "budowy".</p><p>Dokonanie prac budowlanych na skutek których powstaje <span class="highlight">budynek</span> z wykorzystaniem elementów konstrukcyjnych z już istniejącego <span class="highlight">budynku</span>, nie może być postrzegane jako remont czy przebudowa. Taki zakres prac budowlanych jakie podjęła skarżąca spółka jest odbudową, która zalicza się do budowy o której mowa w art. 3 ust. 6 ustawy Prawo budowlane. Stanowisko takie znajduje potwierdzenie w orzecznictwie sądów administracyjnych, które podkreślają, że wykonanie remontu, o którym mowa w art. 3 ust. 8 ustawy Prawo budowlane, możliwe jest tylko w istniejącym obiekcie budowlanym, w rozumieniu art. 3 pkt 1 tej ustawy. Podkreśla się również, że <span class="highlight">zrealizowanie</span> obiektu budowlanego w oparciu o istniejące elementy <span class="highlight">budynku</span> uprzednio istniejącego, nawet przy zachowaniu wcześniejszych gabarytów <span class="highlight">budynku</span> nie stanowi remontu w rozumieniu art. 3 pkt 8 ustawy Prawo budowlane, ale odbudowę, która jest stosownie do przepisu art. 3 ust. 6 budową. (por. wyrok NSA z dnia 8 grudnia 2008 r., sygn. akt. II OSK 1546/07, LEX nr 516082, wyrok WSA z dnia 17 czerwca 2008 r., sygn. akt VII SA/Wa 1676/07, LEX nr 499914).</p><p>Podkreślić należy, że jak wynika z akt sprawy na przedmiotowej działce początkowo został wybudowany obiekt budowlany – garaż - w ramach samowoli budowlanej. Następnie został on w sposób nielegalny rozebrany. Obecnie zaś <span class="highlight">zrealizowany</span> obiekt budowlany po raz kolejny zawiera znamiona samowoli budowlanej. Inwestor bowiem, realizując nowy obiekt budowlany z wykorzystaniem elementów poprzednio istniejącego obiektu – również <span class="highlight">samowolnie</span> wybudowanego, zasłaniał się twierdzeniami, że wykonane prace stanowią remont i przebudowę i nie wymagają uzyskania pozwolenia na budowę, co jak wskazano powyżej było błędne. Co więcej strona skarżąca kasacyjnie wezwana przez organ nadzoru budowlanego po wstrzymaniu prac budowlanych, w zakreślonym terminie nie przedłożyła dokumentów żądanych przez ten organ.</p><p>W tych okolicznościach zarówno Sąd pierwszej instancji, jak i organy nadzoru budowlanego trafnie uznały, że obiekt ten podlega nakazowi <span class="highlight">rozbiórki</span>.</p><p>Odnosząc się do zarzutów o charakterze procesowym wskazać należy, że zgodnie z art. 174 pkt 2 ustawy z dnia 30 sierpnia 2002 r. Prawo o postępowaniu przed sądami administracyjnymi (t.j. Dz.U. z 2012 r., poz. 270 ze zm. - zwanej dalej p.p.s.a.) skargę kasacyjną można oprzeć na podstawie naruszenia przepisów postępowania, jeżeli uchybienie to mogło mieć istotny wpływ na wynik sprawy. W niniejszej sprawie strona skarżąca kasacyjnie podnosząc zarzuty o charakterze procesowym podniosła, że naruszenie to miało istotny wpływ na wynik sprawy, jednakże twierdzenia tego w żaden sposób nie uzasadniła. Już zatem tylko z tego powodu skarga kasacyjna nie mogła odnieść zamierzonego skutku.</p><p>Ponadto strona skarżąca kasacyjnie zarzuty naruszenia przepisów postępowania powiązała z art. 6 ust. 1 pkt. 1 lit. b oraz art. 25 ust. 1 pkt 3 i art. 36 ust. 1 pkt 2 ustawy o ochronie zabytków i opiece nad zabytkami, których to przepisów Sąd pierwszej instancji nie stosował, albowiem kontrolował on decyzje administracyjne nakazujące <span class="highlight">rozbiórkę</span> <span class="highlight">samowolnie</span> <span class="highlight">zrealizowanego</span> obiektu budowlanego, po tym jak inwestor nie przedłożył wymaganych dokumentów wśród których, co istotne nie żądano przedłożenia dokumentów o których mowa w ustawie o ochronie zabytków i opiece nad zabytkami.</p><p>Mając na uwadze powyższe Naczelny Sąd Administracyjny na podstawie art. 184 ustawy Prawo o postępowaniu przed sądami administracyjnymi skargę kasacyjną oddalił </p></span></td>
</tr>
